.select-seat-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  .seat-price-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #a3a3a3;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .radio-class {
    background: #ffffff;
    border: 1px solid #ebebeb;
    box-shadow: 2px 2px 4px rgb(81 81 81 / 16%);
    border-radius: 6px;
    width: 92px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .label,
  .checkbox,
  .radio {
    margin: 0px 0px 0px 7px;
  }
  .seat-booking-container {
    display: grid;
    gap: 10px;
    margin: 10px;
  }
  .berth-container {
    display: grid;
    grid-template-columns: 70% 28%;
    grid-gap: 2%;
  }
  .upper-berth,
  .lower-berth {
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    display: flex;
    width: 100%;
  }
  .rotate-berth-text {
    width: 75px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #a3a3a3;
    transform: rotate(-90deg);
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  .empty-seat-outer-square {
    background: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    height: 30px;
    width: 70px;
  }
  .filled-seat-outer-square {
    background: #d9d9d9;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    height: 30px;
    width: 70px;
  }
  
  .empty-seat-inner-square {
    background: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    position: relative;
    left: 55px;
    top: 6px;
    height: 15px;
    width: 6px;
  }
  .seat-square-container {
    display: grid;
    grid-template-areas: ". . . . . . .";
    gap: 10px;
    height: fit-content;
  }
  .blank-space {
    height: 30px;
    width: 70px;
  }
  .seat-container {
    display: grid;
    grid-gap: 40px;
    padding: 10px;
    width: 100%;
  }
  .display-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .boarding-dropping-info {
    background: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    padding: 20px;
  }
  .location-price {
    display: grid;
    grid-template-areas: ". .";
    grid-gap: 10px;
    margin: 15px 0px;
  }
  .location-price > div:nth-child(even) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .left-header {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .right-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    float: right;
  }
  .left-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4d4d4d;
  }
  .gray-text {
    color: #a3a3a3 !important;
  }
  .extra-padding {
    padding-top: 10px;
  }
  .orange-button {
    text-align: center;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #fb9156;
    border-radius: 4px;
  }
  .border-bottom {
    border-top: 1px solid #c2d4e3;
  }